
/* 改动 */
.ProjectContent{
    position: absolute;
    width: 100%;
    top: 0px;
    background-color: black;
    z-index: 100;
}
#projectContent_SF{
    position: absolute;
    width: 100%;
}
#projectContent_OP{
    position: absolute;
    width: 100%;
}
#projectContent_HB{
    position: absolute;
    width: 100%;
}
#projectContent_WP{
    position: absolute;
    width: 100%;
}
#projectContent_SF>img{
    width: 100%;
}
#projectContent_OP>img{
    width: 100%;
}
#projectContent_HB>img{
    width: 100%;
}
#projectContent_WP>img{
    width: 100%;
}
#projectContent_5>img{
    width: 100%;
}
#projectContent_6>img{
    width: 100%;
}
.elevator{
    position: fixed;
    width: 140px;
    left: 0%;
    top: 60px;
    height: 650px;
    background-color: rgba(241, 241, 241, 0.6);
    box-shadow: 0px 2px 10px 1px #707070;
    z-index: 150;
    overflow: hidden;
    border-radius: 5px;
    transition: all 0.8s;
    user-select: none;

}
.elevatorRetract:hover{
    opacity: 0.6;
}
.elevatorRetract{
    height: 40px;
    opacity: 0.3;
    transition: all 0.3s;
    
}
.elevatorRetractImg{
    transform: rotate(180deg);
}
.elevator>li{
    width: 100%;
    height: 102px;
    transition: all 0.3s;
}
.elevator>:nth-child(1){
    width: 100%;
    height: 40px;
}
.elevator>:nth-child(1)>img{
    position: absolute;
    left: 54px;
    top: 13px;
}
.elevator>:nth-child(7)>img{
    position: absolute;
    left: 50px;
    top: 570px;
    width: 45px;
}
.elevator>:nth-child(7)>span{
    position: absolute;
    left: 54px;
    top: 615px;
    font-weight: 500;
    font-size: 0.95vw;
    color: #555555;
}
.elevator>:nth-child(7):hover span{
    color:#FC5981;
    font-family: 'Akira';
    left: 43px;
}
.elevatorLi{
    background-color: #555555;
}
.elevator>:nth-child(1):hover{
    background-color: rgba(223, 223, 223, 0.5);
}
.elevator>:nth-child(1):hover img{
    filter: brightness(0.1);
}
.elevator>:nth-child(1)>img{
    transition: all 0.5s;
}
.elevator>:nth-child(2)>img{
    position: absolute;
    left: 57px;
    top: 67px;
    transition: all 0.1s;
}
.elevator>:nth-child(2)>#change{
    left: 55px;
}
.elevator>:nth-child(3)>img{
    position: absolute;
    left: 40px;
    top: 168px;
    transition: all 0.1s;
}
.elevator>:nth-child(3)>#change{
    left: 30px;
}

.elevator>:nth-child(4)>img{
    position: absolute;
    left: 51px;
    top: 269px;
    transition: all 0.1s;
}

.elevator>:nth-child(4)>#change{
    left: 43px;
}

.elevator>:nth-child(5)>img{
    position: absolute;
    left: 24px;
    top: 368px;
    transition: all 0.1s;
}
.elevator>:nth-child(5)>#change{
    left: 6px;
}


.elevator>:nth-child(6)>img{
    position: absolute;
    left: 47px;
    top: 471px;
    transition: all 0.1s;
}

.elevator>:nth-child(6)>#change{
    left: 38px;
}
/* 作品集1 */
#projectContent_SF>ul>li{
    width: 100%;
    height: 10px;
}

#projectContent_SF>ul>li:nth-child(1){
    position: absolute;
    top: 0%;
}
#projectContent_SF>ul>li:nth-child(2){
    position: absolute;
    top: 8.5%;
}
#projectContent_SF>ul>li:nth-child(3){
    position: absolute;
    top: 21.29%;
}
#projectContent_SF>ul>li:nth-child(4){

    position: absolute;
    top: 34.2%;
}
#projectContent_SF>ul>li:nth-child(5){
    position: absolute;
    top: 74%;
}

#projectContent_SF>ul{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
}
/* 作品集2 */

#projectContent_OP>ul>li{
    width: 100%;
    height: 5px;
}

#projectContent_OP>ul>li:nth-child(1){
    position: absolute;
    top: 0%;
}
#projectContent_OP>ul>li:nth-child(2){
    position: absolute;
    top: 6.3%;
}
#projectContent_OP>ul>li:nth-child(3){
    position: absolute;
    top: 18.86%;
}
#projectContent_OP>ul>li:nth-child(4){

    position: absolute;
    top: 23.1%;
}
#projectContent_OP>ul>li:nth-child(5){
    position: absolute;
    top: 45.4%;
}


#projectContent_OP>ul{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
}


/* 作品集3 */

#projectContent_HB>ul>li{
    width: 100%;
    height: 20px;

}

#projectContent_HB>ul>li:nth-child(1){
    position: absolute;
    top: 0%;
}
#projectContent_HB>ul>li:nth-child(2){
    position: absolute;
    top: 9%;
}
#projectContent_HB>ul>li:nth-child(3){
    position: absolute;
    top: 29.7%;
}
#projectContent_HB>ul>li:nth-child(4){

    position: absolute;
    top: 44.82%;
}
#projectContent_HB>ul>li:nth-child(5){
    position: absolute;
    top: 53.5%;
}

#projectContent_HB>ul{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
}


/* 作品集4 */
#projectContent_WP>ul{
    position: absolute;
    height: 100%;   
}
#projectContent_WP>ul>li{
    position: absolute;
    width: 100%;
    height: 10px;
}

#projectContent_WP>ul>li:nth-child(1){
    position: absolute;
    top: 0%;
}
#projectContent_WP>ul>li:nth-child(2){
    position: absolute;
    top: 9.1%;
}
#projectContent_WP>ul>li:nth-child(3){
    position: absolute;
    top: 17.8%;
}
#projectContent_WP>ul>li:nth-child(4){

    position: absolute;
    top: 27%;
}
#projectContent_WP>ul>li:nth-child(5){
    position: absolute;
    top: 60.2%;
}
#projectContent_WP>ul>li:last-child{
    position: absolute;
    top: 100%;
}
#projectContent_SF>ul>li:last-child{
    position: absolute;
    top: 100%;
}
#projectContent_OP>ul>li:last-child{
    position: absolute;
    top: 100%;
}
#projectContent_HB>ul>li:last-child{
    position: absolute;
    top: 100%;
}


#projectContent_WP>ul{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
}

/* 作品集视频 */

.backForward{
    user-select: none;
    padding-top: 4%;
    position: absolute;
    width: 100%;
    height: 130px;
    background-color: white;
    z-index: 70;
    /* 1630%  1310% 1270%  1150%*/
    color:#2D2D2D;
}
.backForward section{
    padding-top: 15px;
    position: absolute;
    width: 14%;
    height: 23%;
}
.backForward section:hover img{
    filter: brightness(0.2);
}
.backForward section:hover h1{
    color: black;
}
.backForward section:nth-child(1){
    left: 13.16667%;
}
.backForward section:nth-child(2){
    right: 13.16667%;
}

.backForward h1{
   position: absolute;
    font-size: 1.197917vw;
    font-family: "Akira";
    transition: all 0.1s;
}
.backForward img{
    width: 26%;
    position: absolute;
    top: 17%;
    transition: all 0.1s;
}

#backward>h1
{
   left: 34%;
}
#forward>h1
{
   right: 34%;
}


#forward>img
{
    right: 0%;
}
/* OP1 */
#OP1img{
    overflow: hidden;
    position: absolute;
    top: 34.5%;
    left: 20%;
    height: 3.6% !important;
    width: 60% !important;
}
#OP1img>img{
    transition: all 0.8s;
    position: absolute;
    width: 100%;
}
#OP1div{
    position: absolute; 
    background-color: #323232;
    opacity: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: all 0.8s;
}
#OP1img:hover>img{
    transform: scale(1.1);
}
#OP1img:hover #OP1div{
    opacity: 0.65;
}

/* OP2 */
#OP2img{
    overflow: hidden;
    position: absolute;
    top: 89%;
    left: 20%;
    height: 3.6% !important;
    width: 60% !important;
}
#OP2img>img{
    transition: all 0.8s;
    position: absolute;
    width: 100%;
}
#OP2div{
    position: absolute; 
    background-color: #323232;
    opacity: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: all 0.8s;
}
#OP2img:hover>img{
    transform: scale(1.1);
}
#OP2img:hover #OP2div{
    opacity: 0.65;
}
/* HB1 */
#HB1img{
   
    overflow: hidden;
    position: absolute;
    top: 47.5%;
    left: 37%;
    height: 5.1% !important;
    width: 60% !important;
}
#HB1img>img{
    transition: all 0.8s;
    position: absolute;
    width: 100%;
}
#HB1div{
    position: absolute; 
    background-color: #323232;
    opacity: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: all 0.8s;
}
#HB1img:hover>img{
    transform: scale(1.1);
}
#HB1img:hover #HB1div{
    opacity: 0.65;
}
/* HB2 */
#HB2img{
   
    overflow: hidden;
    position: absolute;
    top: 94%;
    left: 20%;
    height: 5.1% !important;
    width: 60% !important;
}
#HB2img>img{
    transition: all 0.8s;
    position: absolute;
    width: 100%;
}
#HB2div{
    position: absolute; 
    background-color: #323232;
    opacity: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: all 0.8s;
}
#HB2img:hover>img{
    transform: scale(1.1);
}
#HB2img:hover #HB2div{
    opacity: 0.65;
}
/* SF1 */
#SF1img{
   
    overflow: hidden;
    position: absolute;
    top: 58.3%;
    left: 20%;
    height: 5% !important;
    width: 60% !important;
}
#SF1img>img{
    transition: all 0.8s;
    position: absolute;
    width: 100%;
}
#SF1div{
    position: absolute; 
    background-color: #323232;
    opacity: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: all 0.8s;
}
#SF1img:hover>img{
    transform: scale(1.1);
}
#SF1img:hover #SF1div{
    opacity: 0.65;
}
/* SF2 */
#SF2img{
    overflow: hidden;
    position: absolute;
    top: 76.3%;
    left: 20%;
    height: 4.9% !important;
    width: 60% !important;
}
#SF2img>img{
    transition: all 0.8s;
    position: absolute;
    width: 100%;
}
#SF2div{
    position: absolute; 
    background-color: #323232;
    opacity: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: all 0.8s;
}
#SF2img:hover>img{
    transform: scale(1.1);
}
#SF2img:hover #SF2div{
    opacity: 0.65;
}
/* WP1 */
#WP1img{
   
    overflow: hidden;
    position: absolute;
    top: 38.6%;
    left: 20%;
    height: 5% !important;
    width: 60% !important;
}
#WP1img>img{
    transition: all 0.8s;
    position: absolute;
    width: 100%;
}
#WP1div{
    position: absolute; 
    background-color: #323232;
    opacity: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: all 0.8s;
}
#WP1img:hover>img{
    transform: scale(1.1);
}
#WP1img:hover #WP1div{
    opacity: 0.65;
}
/* WP2 */
#WP2img{
   
    overflow: hidden;
    position: absolute;
    top: 48.3%;
    left: 20%;
    height: 5.4% !important;
    width: 60% !important;
}
#WP2img>img{
    transition: all 0.8s;
    position: absolute;
    width: 100%;
}
#WP2div{
    position: absolute; 
    background-color: #323232;
    opacity: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: all 0.8s;
}
#WP2img:hover>img{
    transform: scale(1.1);
}
#WP2img:hover #WP2div{
    opacity: 0.65;
}
#click{
    position: absolute;
    width: 50%;
    left: 25%;
    top: 40%;
}